* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.container {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 15px;
}

#projects {
  background-color: #0094cf;
  padding: 16px;
}

#notes {
  padding: 16px;
}

ul {
    list-style-type: none;
}

h1 {
  margin-bottom: 1rem;
}

/* Projects */

a {
  font-size: 1.5rem;
  color: white;
  text-decoration: none;
}

.selected {
  font-weight: 600;
}
.selected::before {
  content: "> ";
}